.menu {
    font-size: 1.2em;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #b7b7b7;
}

a:hover {
    color: purple;
}

.activeLink {
    font-weight: 900;
    font-size: 2em;
    background: -webkit-linear-gradient(45deg, #0ABFBC, #FC354C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}