.techno-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.techno-form {
    background-color: #3F4B57;
    border-radius: 20px;
    box-sizing: border-box;
    height: fit-content;
    padding: 20px;
    width: 320px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}


.ic1 {
    margin-top: 10px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.large-input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 14px;
    height: 400%;
    outline: 0;
    padding: 15px 20px 0;
    width: 100%;
}

.cut {
    background-color: #3F4B57;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-select {
    background-color: #3F4B57;
    border-radius: 10px;
    height: 20px;
    width: 68px;
    left: 20px;
    position: absolute;
    top: -12px;
    transform: translateY(0);
    transition: transform 200ms;
}

.cut-name {
    width: 52px;
}

.cut-description {
    width: 78px;
}

.input-select:focus~.cut-select {
    transform: translateY(8px);
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.select-placeholder {
    opacity: 0;
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms, opacity 100ms;
    top: 20px;
}

.input:focus~.select-placeholder {
    opacity: 1;
    transform: translateY(-25px) translateX(10px) scale(0.75);
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: #FC354C;
}

.input:focus~.select-placeholder {
    color: #FC354C;
}

.submit {
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    background: linear-gradient(to right, #0ABFBC, #FC354C);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 150px;
    margin-bottom: 10px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #FC354C, #0ABFBC);
    background: linear-gradient(to right, #FC354C, #0ABFBC);
}

.select-container {
    margin-top: 20px;
}

.select-container select {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin-top: 8px;
    outline: 0;
    padding: 15px 15px 5px;
}